

      

<p>Creatures [ kree-chers ] 
    - pl. noun
    An animal, generally wild: a creature from outer space; the creatures of the woods and fields.  Anything created, whether animate or inanimate. Older U.S. Use. intoxicating liquor, especially whiskey (usually preceded by the): He drinks a bit of the creature before bedtime.
    History
    Creatures Events was born in Melbourne,  July 2018. A joint musical venture between two friends who hoped to pave a new musical direction in Melbourne’s underground techno & house scene. After playing many successful feature gigs, Creatures held their first ever solely-organised music event at one of Melbourne’s most notorious night clubs, Revolver Upstairs. Sunday 31.03.19, the day of our revs launch party, Creatures residents warmed up for house mega-legends Detroit Swindle.
    In 2019 Creatures hosted their first international music act, Drunken Kong. A formidable Japanese techno producer that played a heavy 2 hr set at King St.’s Brown Alley. The night was organised in collaboration with Alter & Translate events.
    During the past few years we’re thrilled to have already gained strong support from various bookers and event management companies around Melbourne. Creatures have now held events at premium music venues such as Revolver Upstairs, New Guernica, Boney, The Gasometer, Xe54, Glamorama, El Coco (Danse), Joey Smalls, Good Things, Nevermind Bar, Big Mouth and Brown Alley.
    One of Creatures core beliefs is having a strong focus in our local scene. Melbourne is undoubtedly Australia’s premier destination when it comes to its nightlife. Creatures is honoured to have already hosted many talented local headliners, stars such as Haber, Chiara Kickdrum, Matt Radovich and Luke Vecchio. 
    In 2020 Creatures embarked on a joint venture with The Toff in Town, to host Lauren Lo Sung, a Bristol (UK) tech-house producer/DJ in Melbourne. As well as plans to co-host a secret Japanese international, supported by Melbourne local & Boiler Room DJ Merve, at Melbourne’s Colour nightclub. Unfortunately due to COVID-19 these events were cancelled/postponed til further notice.
    Creatures are a now well established collective of talented DJ’s, musicians and artists, who each bring their own energy and flavour into the mix. 
    Our crew aims to change the way typical club nights run, incorporating all facets of music & arts sensory pleasures, whilst at the same time providing you with a safe and comfortable environment.
    Come lose yourself with us. Indulge in the euphoria of music and dance.
    
    𝕽𝖊𝖑𝖊𝖆𝖘𝖊 𝖄𝖔𝖚𝖗 𝕴𝖓𝖓𝖊𝖗 𝕮𝖗𝖊𝖆𝖙𝖚𝖗𝖊..</p>

