<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark text-light">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      
      <a class="nav-item nav-link" routerLink="/residents"> Residents</a>

      <a class="nav-item nav-link" routerLink="/about"> About</a>
      
  </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>