<link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel="stylesheet"> 

<style>
p.Bebas {
    font-family: 'Bebas Neue';font-size: 220px;
}

</style>


<p class = "Bebas"> Creatures </p>




<div style= "height: 720px; font-size: 40px; text-align: center; color: white; padding-top: 22px;">
  <video width="1280" height="720" autoplay=1 loop = 1 volume =.050>
    <source src="./assets/CreaturesVan.mp4" type="video/mp4" >
    Your browser does not support the video tag.
  </video>
 </div>
 
